@charset "utf-8";
body{
  margin: 0;
  overflow: scroll;
  }

header{
display: flex;
  padding: 8px 24px;
  justify-content: space-between;
    background: var(--black, #333);
}

.logo{
  width: 75.277px;
  height: 46px;
}

button{
  text-align: center;
  padding: 8px 24px;
  gap: 8px;
  border-radius: var(--4, 4px);
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: var(--white, #FFF);
    text-decoration: none;
color: #333;
  font-size: 20px;
  font-weight: 700;
  }

.fv{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
align-content: center;
  padding: var(--8, 8px) 8px;
  gap: 8px;
  background: #0FA958;
}

.fv-title{
font-size: 64px;
height:64px;
margin-bottom: 16px;
}

.whats-devmode{
  padding: var(--40, 40px) var(--16, 16px);
  gap: 16px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  gap: 24px var(--24, 24px);
  display: flex;
  align-self: stretch;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* @media screen and (min-width:769px)
  .content{
  flex-direction: row;} */
}

.detail{
max-width: 833px;
}

footer{
  width: 100%;
  padding: 12px 32px;
  text-align: center;
  color: var(--white, #FFF);
  background: var(--black, #333); 
}
